body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app-content{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.canvasStyle{
  background-color: #f3f6f4;
  border: 2px solid black;
}

.area{
  transition: all 400ms ease;
  opacity: 1;
}
.areahidde{
  opacity: 0;
}

.footer{
  margin-top: auto;
  background-color: #343A40;
}

.App p{
  margin: 0;
}

.warning_text{
  color: yellow;
  margin-bottom: 0;
  align-self: end;
}

.about{
  color: white;
}

.contact_link{
  font-size: 16px;
  display: flex;    
  margin-bottom: 10px;
  flex-wrap: wrap;
}
.contact_link p{
  margin-left: 5px;
  max-width: 100%;
  margin-bottom: 0;
  word-wrap: break-word;
  line-height: 25px;
}
.contact_link div{
  display: flex;
}
.contact_link svg{
  width: 50px;
}

@media only screen and (max-width: 800px){
  .footer{
    position: relative;
  }
  .contact_link{
    flex-direction: column;
    margin-top: 20px;
  }
}